{% extends 'base.html.twig' %}

{% block title %}Modifier utilisateur{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h1>Modifier utilisateur</h1>

        {{ form_start(form) }}
            {{ form_widget(form) }}
            <button class="btn btn-primary mt-3">Mettre à jour</button>
        {{ form_end(form) }}

        <a class="btn btn-secondary mt-3" href="{{ path('admin_user_list') }}">Retour à la liste</a>
    </div>
{% endblock %}