{% extends 'base.html.twig' %}

{% block title %}Nouveau Programme{% endblock %}

{% block body %}
    <h1>Créer un nouveau programme</h1>

    {{ include('program/_form.html.twig') }}

    <a class="btn btn-secondary mt-3" href="{{ path('app_program_index') }}">Retour à la liste</a>
{% endblock %}