{% extends 'base.html.twig' %}

{% block title %}Page non trouvée{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h1>Page non trouvée</h1>
        <p>La page que vous recherchez n'existe pas.</p>
        <a class="btn btn-primary" href="{{ path('home') }}">Retour à l'accueil</a>
    </div>
{% endblock %}