{% extends 'base.html.twig' %}

{% block title %}Nouveau Coach{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h1>Créer un nouveau Coach</h1>

        {{ include('coach/_form.html.twig') }}

        <a class="btn btn-secondary mt-3" href="{{ path('app_coach_index') }}">Retour à la liste</a>
    </div>
{% endblock %}