{% extends 'base.html.twig' %}

{% block title %}Mon Profil{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h1>Mon Profil</h1>

        {{ form_start(form) }}
            {{ form_widget(form) }}
            <button class="btn btn-primary mt-3">Mettre à jour</button>
        {{ form_end(form) }}

        <a class="btn btn-secondary mt-3" href="{{ path('home') }}">Retour à l'accueil</a>
    </div>
{% endblock %}